<%- include('template/header'); %> 

<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Tout les postes en une seule page</h1>
                    <span class="subheading">BLABLABLA CAR</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h1 class="post-title">
                        <%= article.titre %>
                    </h1>
                    <p class="post-subtitle">
                        <%= article.content %> 
                    </p>
                    <p class="post-meta"> Poster par <span> <%= article.auteur %>  </span> le <%= article.date %>  </p>
                </div>
                <hr>
        </div>
    </div>
</div>


<%- include('template/footer'); %> 